@import url("/static/base.css");
body {
    background-color: var(--BackgroundColor);
}
.Header {
    position: absolute;
    top: 5%;
    left: 45%;
}
.ReportsContainer {
    display: flex;
    flex-direction: column;
    background-color: var(--SideColor);
    position: fixed;
    left: 35%;
    top: 25%;
    width: 32.5%;
    padding: 5%;
    border-radius: 10%;
    color: var(--MainColor);
    margin: 2.5%;
}
.Report {
    color: var(--MainColor);
}
.ActionButton {
    background-color: transparent;
    border: none;
}
.UGCData {
    text-overflow: ellipsis;
    white-space: wrap;
    overflow: hidden;
    width: 200px;
    max-width: 200px;
}
.NoReportsMessage {
    position: fixed;
    top: 30%;
    left: 45%;
}
.backButton {
    display: inline-block;
    position: relative;
    left: 5%;
    top: 0%;
    border: none;
    width: 8%;
    height: 4%;
    background: none;
}