@import url("/static/base.css");
body {
    background-color: var(--BackgroundColor);
}
.SmallText {
    color: var(--TextColor);
    size: 12em;
}
.LargeText {
    color: var(--MainColor);
    size: 64em;
}
.Header {
    position: absolute;
    top: 5%;
    left: 45%;
}
.ReportsContainer {
    display: flex;
    flex-direction: column;
    background-color: var(--SideColor);
    position: fixed;
    left: 35%;
    top: 25%;
    width: 32.5%;
    padding: 5%;
    border-radius: 10%;
    color: var(--MainColor);
}
.Report {
    color: var(--MainColor);
}
.ActionButton {
    background-color: transparent;
    border: none;
}