:root {
    --MainColor: #342E37;
    --SideColor: #FFFF;
    --BackgroundColor: #FFFFFF;
    --TextColor: #121212;
    --LightTextColor: #121212;
    --LightSideColor: #fcf2fb;
    --LightBackgroundColor: #FFFF;
    --GreyColor: #946cbb;
}
::placeholder {
    color: var(--MainColor);
}
.ProfilePicture {
    border-radius: 5%;
    border-style: solid;
    border-width: 2px;
    border-color: var(--MainColor);
    display: inline-block;
}
.SmallText {
    color: var(--TextColor);
    font-size: 1.5em;
}
.ReallySmallText {
    color: var(--TextColor);
    font-size: 1em; 
}
.LargeText {
    color: var(--MainColor);
    font-size: 3vw;
}
.Button {
    border: none;
    width: 8%;
    height: 4%;
    background: none;
}