:root {
    --MainColor: #9593d9;
    --SideColor: #5E239D;
    --BackgroundColor: #f1f9ff;
    --TextColor: #0F0F0F;
    --LightTextColor: #FBFBFB;
    --LightSideColor: #6800cf;
}
::placeholder {
    color: var(--MainColor);
}