:root {
    --MainColor: #342E37;
    --SideColor: #FFFF;
    --BackgroundColor: #FFFFFF;
    --TextColor: #121212;
    --LightTextColor: #121212;
    --LightSideColor: #fcf2fb;
    --LightBackgroundColor: #FFFF;
    --GreyColor: #541594;
}
::placeholder {
    color: var(--MainColor);
}
.ProfilePicture {
    border-radius: 5%;
    border-style: solid;
    border-width: 2px;
    border-color: var(--MainColor);
    display: inline-block;
}
.SmallText {
    color: var(--TextColor);
    font-size: 1.5em;
}
.ReallySmallText {
    color: var(--TextColor);
    font-size: 1em; 
}
.LargeText {
    color: var(--MainColor);
    font-size: 3vw;
}
.Button {
    border: none;
    width: 8%;
    height: 4%;
    background: none;
}

#ctxmenu {
    position: absolute;
    background: var(--BackgroundColor);
    color: var(--TextColor);
    cursor: pointer;
    border: 1px var(--GreyColor);
    z-index: 10;
}
  
#ctxmenu > p {
    padding: 0 1rem;
    margin: 0
}
  
#ctxmenu > p:hover {
    background: var(--GreyColor);
    color: var(--SideColor);
}
.backButton:hover {
    color: var(--GreyColor);
}