@import url("/static/base.css");
.SelfProfile {
    position: fixed;
    left: 94%;
    top: 5%;
    width: 2.5%
}
.Body { 
    background-color: var(--BackgroundColor);
}

.WelcomeMessage {
    position: fixed;
    top: 2%;
    left: 35%;
    padding: 0px;
    margin: 0px;
}
.NewPost {
    position: fixed;
    left: 1%;
    top: 5%;
    width: 2.5%;
}
.TopBarDivider {
    color: var(--MainColor);
    border-width: 2px;
    border-style: solid;
    position: fixed;
    top: 10%;
    width: 100%;
}
.Feed {
    position: relative;
    left: 25%;
    width: 50%;
    top: 12.5%;
    justify-content: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1em;
    z-index: 1;
}
.Post {
    border-style: solid;
    background-color: var(--SideColor);
    color: var(--LightTextColor);
    border-color: var(--MainColor);
    padding: .5%;
    min-width: 10%;
    width: 60%;
    position: relative;
    left: 25%;
    z-index: 2;
}
.Post:hover {
    background-color: var(--LightSideColor);
}
.PostData {
    position: relative;
    top: 0%;
    left: 10%;
}
.Author {
    position: relative;
    left: 75%;
}
.AuthorProfile {
    height: 15%;
    position: relative;
    width: 5%;
    display: inline;
    padding: 0px;
    margin: 0px;
}
.LoginButton {
    position: fixed;
    left: 85%;
    top: 4%;
    border: none;
    background-color: var(--SideColor);
    color: var(--MainColor);
    width: 8%;
    height: 4%;
    z-index: 5;
}
.LoginButton:hover {
    background-color: var(--LightSideColor);
}
.NotLoggedIn {
    position: fixed;
    top: 1%;
    margin: 0px;
    width: 4%;
}
.PostContent,.PostTitle {
    overflow-wrap: break-word;
    text-wrap: wrap;
    max-width: 90%;
    overflow: hidden;
    word-wrap: break-word;
}
.TopBarDivider,.WelcomeMessage {
    z-index: 3;
}
.PostTitle {
    position: relative;
    left: 15%;
    top: 0%;
    border: none;
    margin: 0px;
    color: var(--LightTextColor);
}
.AdminButton {
    border: none;
    color: var(--SideColor);
    background-color: var(--MainColor);
    position: fixed;
    left: 5%;
    top: 5%;
    border-width: 2px;
    width: 2.5%;
    height: 5%;
}
.AdminButton:hover {
    background-color: var(--LightBackgroundColor);
}
.PostContent {
    color: var(--LightTextColor);
}