@import url("/static/base.css");
.PostField { 
    background-color: var(--BackgroundColor);
    position: relative;
    left: 10%;
    top: 0%;
    border: none;
    background: none;
    color: var(--MainColor);
}
.PublishButton {
    margin-left: 10%;
    margin-top: 10%;
    margin-bottom: 0px;
    border: none;
    background-color: var(--SideColor);
    color: var(--MainColor);
}
.PublishButton:hover {
    background-color: var(--LightSideColor);
}
.Header {
    position: fixed;
    top: 0%;
    left: 42.5%;
}
.Form {
    position: fixed;
    left: 40%;
    top: 20%;
    min-height: 500px;
    background-color: var(--SideColor);
}
.Title {
    position: relative;
    left: 30%;
    top: 0%;
    margin: 5%;
}
.TitleField {
    position: relative;
    left: 30%;
    top: 0%;
    border: none;
    background: none;
    color: var(--MainColor);
}
.hidden {
    display: none;
}
.Post {
    position: relative;
    left: 30%;
    margin: 5%;
}
.AttachImage {
    display: none;
}
.PostOptions {
    border: none;
    background: none;
    color: var(--MainColor);
    font-size: 1.5em;
    position: absolute;
    left: 80%;
}
