@import url("/static/base.css");
body {
    background-color: var(--BackgroundColor);
}
.SmallText {
    color: var(--TextColor);
    size: 12em;
}
.LargeText {
    color: var(--MainColor);
    size: 64em;
}
.Header {
    position: absolute;
    top: 5%;
    left: 45%;
}

.controlsBar { 
    position: absolute;
    top: 15%;
    left: 25%;
    display: flex;
    gap: 1%;
    align-items: center;
    padding: 3px;
    border-style: solid;
    border-color: var(--MainColor);
    border-width: 2px;
    width: 50%;
}
.backwardIcon {
    height: 60%;
}
.forwardIcon {
    height: 60%;
}
.zoomOutIcon {
    height: 60%;
}
.zoomInIcon {
    height: 60%;
}
.menuIcon {
    height: 40%;
}
.numPage {
    position: relative;
    top: 20px;
    height: 50px;
    white-space: nowrap;
    color: var(--MainColor);
}
.controlsButton {
    flex: 0 0 auto;
    height: 50px;
    background-color: var(--SideColor);
    color: var(--MainColor);
    border-style: none;
    padding: 5px;
    border-radius: 5%;
}
.controlsButton:hover {
    background-color: var(--LightSideColor);
}
.pageView {
    position: absolute;
    left: 25%;
    top: 25%;
}
.MenuOption:before {
    background-color: var(--SideColor);
}
.MenuOption:hover:before {
    background-color: var(--LightSideColor);
}
.menuOptions {
    width: 10%;
}