@import url("/static/base.css");
body {
    background-color: var(--BackgroundColor);
}
.Header {
    position: relative;
    top: 5%;
    left: 30%;
    text-wrap: wrap;
    max-width: 70%;
    overflow: auto;
    word-wrap: break-word;
}
.CreateCommentMessage {
    position: relative;
    left: 10%;
    color: var(--MainColor);
}
.AuthorName {
    top: 0%;
    margin: 0px;
}
.CommentOptions {
    border: none;
    background: none;
    color: var(--MainColor);
    position: relative;
    left: 10%;
    font-size: 1.5em;
}
.Content {
    position: relative;
    left: 30%;
    top: 10%;
    text-overflow: break-word;
    width: 40%;
    max-width: 70%;
}
.controlsButton {
    background-color: var(--SideColor);
    color: var(--MainColor);
    position: absolute;
    left: 80%;
    top: 5%;
    border: none;
}
.backButton {
    display: inline-block;
    position: absolute;
    left: 5%;
    top: 0%;
    border: none;
    width: 8%;
    height: 4%;
    background: none;
}
.controlsButton:focus {
    outline: none;
}
.MenuOption {
    color: var(--SideColor);
}
.CreateComment {
    position: relative;
    top: 15%;
    left: 30%;
    width: 40%;
}
.NewComment {
    border: none;
    background: none;
    color: var(--MainColor);
    padding: 2rem;
    height: 5%;
    display: inline-block;
    width: 400px;
    height: 100px;
}
.SubmitComment {
    border-style: none;
    border-radius: 7.5%;
    background-color: var(--SideColor);
    color: var(--MainColor);
    height: 5%;
    width: 12%;
    position: relative;
    top: -30px; /* Move the button upwards */
    vertical-align: middle;
    display: inline-block;
}
.SubmitComment:active {
    background-color: var(--LightSideColor);
}
.NewComment:focus {
    outline: none;
}
.NewComment,.NewComment::placeholder {
    font: 1.5rem/3 sans-serif;
}
.CommentHolder {
    position: relative;
    top: 25%;
    display: flex;
    flex-direction: column;
}
.CommentImage {
    width: 5%;
    height: 5%;
}
.Comment {
    display: flex;
    gap: 2%;
    position: relative;
    left: 30%;
    width: 40%;
}
.CommentContent {
    overflow-wrap: anywhere;
    text-wrap: wrap;
}
