<html>
    <head>
        <link href="/static/admin_console.css" rel="stylesheet">
        <script src="/static/admin_console.js"></script>
        <script src="/static/base.js"></script>
        <link rel="shortcut icon" href="/static/icons/favicon.ico">
    </head>
    <body>
        <button class="AnnounceButton Button" id="AnnounceButton">Announce!</button>
        <button class="LeaderboardButton Button" id="LeaderboardButton">Leaderboard!</button>
        <h1 class="Header LargeText">Moderate!</h1>
        {% if reports%}
        <table class="ReportsContainer">
            <tr>
                <th class="UGCData">Title/Comment</th>
                <th>Save</th>
                <th>Delete</th>
            </tr>
            {% for report in reports %}
            <tr id="{{report.content.id}}">
                {% if report.typ == 0 %}
                <td class="UGCData" onclick="showContent('{{report.content.id}}')">{{report.reportcontent}}</td>
                {% endif %}
                {% if report.typ == 1 %}
                <td class="UGCData" onclick="showContent('{{report.content.postid}}','{{report.content.id}}')">{{report.reportcontent}}</td>
                {% endif %}
                <td><button  class="ActionButton" onclick='freeContent("{{ report.content.id }}",{{ report.reportcontent|tojson}})'>✅</button></td>
                <td><button  class="ActionButton" onclick='deleteContent("{{ report.content.id }}",{{ report.reportcontent|tojson}})'>❌</button></td>
            </tr>
            {% endfor %}
        </table>
        {% endif %}
        {% if not reports %}
        <p class="SmallText NoReportsMessage">No Reports! Good Job!</p>
        {% endif%}
        <button onclick="history.back()" class="Button backButton LargeText">←</button>
    </body>
</html>