<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="/static/index.css">
        <script src="/static/index.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Ravyn is the new friendly social media platform. We strive to be nontoxic, and try to do this via AI.">
        <link rel="shortcut icon" href="/static/icons/favicon.ico">
        <title>Homepage - Ravyn</title>
    </head>
    <body class="Body">
    <div class="Menu">
        {% if user %}
        <img src="/static/icons/newpost.png" class="NewPost" id="NewPost" alt="">
        <img class="WelcomeMessage LoggedInLogo" alt="RavynLogo" src="/static/icons/favicon.ico">
        <div class="Notifications" id="Notifications">
            {% if notificationcount %}
        <div class="NotificationCount">{{notificationcount}}</div>
        {% endif %}
        <p class="NotificationsButton LargeText">✉️</p>
        </div>
        {% if user.admin %}
        <button class="AdminButton" onclick="location='/admin/console'">⚙️</button>
        {% endif %}
        <img src="{{user.picture}}" class="ProfilePicture SelfProfile" alt="{{user.username}}" title="{{user.username}}" data-user-id="{{user.id}}">
        {%endif%}
        {%if not user%}
        <p class="WelcomeMessage LargeText">Welcome!</p>
        <img class="NotLoggedIn" src="/static/icons/favicon.ico" alt="Ravyn Logo">
        <button onclick="location='/login'" class="LoginButton">Log in!</button>
        {%endif%}
        <img class="SearchIcon" src="/static/icons/search.png" alt="Search" id="OpenSearch"> 
        <hr class="TopBarDivider">
    </div>
        <div class="SearchScreen hidden" id="SearchScreen">
            <input class="Search" id="SearchBar" placeholder="Search" autocomplete="off">
            <img class="SearchScreenIcon" src="/static/icons/searchinput.png">
            <div class="SearchResultContainer" id="SearchResultContainer"></div>
        </div>
        <div class="NotificationScreen hidden" id="NotificationScreen">
            <h1 class="LargeText NotificationHeader">Notifications</h1>
            <div id="NotificationResults" class="NotificationResults"></div>
        </div>
        {% if feed%}
        <div class="Feed" id="Feed">
        {% for post in feed%}
            <div class="Post" data-post-id="{{post.id}}">
                <img alt="{{post.author}}" src="{{post.authorprofile}}" class="AuthorProfile ProfilePicture" alt="{{post.author}}'s profile" title="{{post.author.capitalize()}}" data-user-id="{{post.authorid}}">
                <p class="PostTitle SmallText ">{{post.name.capitalize()}}</p>
                {% if post.showmore %}
                <p class="SmallText PostContent ShowMore">{{post.contentpreview}}  
                {% else %}
                <p class="SmallText PostContent">{{post.contentpreview}}  
                {% endif %}
            </div>
        {%endfor%}
        </div>
        {%endif%}
    </body>
</html>