<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{post.name}} - Ravyn</title>
        <link rel="shortcut icon" href="/static/icons/favicon.ico">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="'{{post.name}}' - a post by {{post.author.capitalize()}} on Ravyn.">
        <link rel="stylesheet" href="/static/post_view.css">
        <script src="/static/post_view.js"></script>
    </head>
    <body>
        <div id="PostID" data-id="{{post.id}}" style="display: none;"></div>
        <p class="Header LargeText">{{post.name}}</p>
        <p class="Header ReallySmallText AuthorName">By {{post.author.capitalize()}}</p>
        <select title="Extra Options" id="menu" class="controlsButton menuOptions Button">
        <option value="" class="MenuOption" disabled selected>...</option>
        <option class="MenuOption" value="report">Report</option>
        </select> 
        <button id="backButton" class="backButton LargeText">←</button>
        <p class="Content SmallText"> {{post.content}}</p>
        <div class="CreateComment">
            {% if commentSuccess > 0 %}
            <p class="CreateCommentMessage" id="CreateCommentMessage">
                {% if commentSuccess == 1 %}
                Sorry, your comment didn't succeed.
                {% endif %}
                {% if commentSuccess == 2 %}
                Commented!
                {% endif %}
            </p>
            {% endif %}
        <textarea type="text" class="NewComment" placeholder="Type comment here" id="NewComment"></textarea>
        <button class="SubmitComment" id="SubmitComment" >Comment</button>
        </div>
        {% if Comments %}
        <div class="CommentHolder">
            {% for comment in Comments%}
            <div class="Comment" id="{{comment.id}}">
            <img src="{{comment.owner.profileimage}}" class="CommentImage ProfilePicture" alt="{{comment.owner.name}}'s profile picture" title="{{comment.owner.name.capitalize()}}">
            <p class="CommentContent"> {{comment.content}}</p>
            <select class="CommentOptions" data-id="{{comment.id}}"><option selected disabled>...</option><option value="Report">Report</option></select>
            </div>
            {% endfor %}
        </div>
        {% endif %}
    </body>
</html>